/*
Awesome Template
http://www.templatemo.com/preview/templatemo_450_awesome
*/



body
	{
 		background: #303030;
 		color: #ffffff;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		overflow-x: hidden; /* prevent horizontal scrollbar from appearing */
	}
	
a {
	color: #47C6F8;
}
	
a:hover {
	color: #0FF;
}

/* start h2 */
h2
	{
		text-align: center;
		font-size: 40px;
		padding-bottom: 40px;
	}	
h2 span
	{
		color: #28a7e9;
		font-weight: bold;
	}
/* end h2 */

/* start about team service portfolio contact */
#about, #team, #service,
#portfolio, #contact
	{
		padding-top: 60px;
		padding-bottom: 40px;
	}
/* end about team service portfolio contact */

/* start preloader */
.preloader
	{
		position: fixed;
  		top: 0;
  		left: 0;
  		width: 100%;
  		height: 100%;
  		z-index: 99999;
  		display: -webkit-box;
  		display: -webkit-flex;
  		display: -ms-flexbox;
  		display: flex;
  		-webkit-flex-flow: row nowrap;
  		    -ms-flex-flow: row nowrap;
  		        flex-flow: row nowrap;
  		-webkit-box-pack: center;
  		-webkit-justify-content: center;
  		    -ms-flex-pack: center;
  		        justify-content: center;
  		-webkit-box-align: center;
  		-webkit-align-items: center;
  		    -ms-flex-align: center;
  		        align-items: center;
  		background: none repeat scroll 0 0 #ffffff;
	}
.sk-spinner-wave.sk-spinner 
	{
  		width: 50px;
  		height: 30px;
  		text-align: center;
  		font-size: 10px; 
  	}
.sk-spinner-wave div 
	{
  		background-color: #333;
  		height: 100%;
  		width: 6px;
  		display: inline-block;
         -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
                 animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
         
    }
.sk-spinner-wave .sk-rect2 
	{
          -webkit-animation-delay: -1.1s;
                  animation-delay: -1.1s; 
      }
.sk-spinner-wave .sk-rect3 
	{
          -webkit-animation-delay: -1s;
                  animation-delay: -1s; 
     }
.sk-spinner-wave .sk-rect4 
	{
          -webkit-animation-delay: -0.9s;
                  animation-delay: -0.9s;
     }
.sk-spinner-wave .sk-rect5 
	{
          -webkit-animation-delay: -0.8s;
                  animation-delay: -0.8s; 
     }

@-webkit-keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
            -webkit-transform: scaleY(0.4);
                    transform: scaleY(0.4); }

  20% {
            -webkit-transform: scaleY(1);
                    transform: scaleY(1); } }

@keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
            -webkit-transform: scaleY(0.4);
                    transform: scaleY(0.4); }

  20% {
            -webkit-transform: scaleY(1);
                    transform: scaleY(1); } }
/* end preloader */

/* start home */
#home
	{
		background: url(../img/daniel-gregoire-O5t7tWnbT4E-unsplash.jpg) no-repeat;
		background-size: cover;
		padding-top: 160px;
		padding-bottom: 100px;
		min-height: 450px;
	}
#home img{
    width: 170px;
    margin-top: -150px;
    margin-left: -85px;
    opacity: .5;
    
    
}

#home h1
	{
		font-weight: 300;
		font-size: 75px;
        
        background: #155d74;
        text-align: center;
		padding-bottom: 10px;
	}
#home h1 span
	{
        text-align: justify-all;
		color: #000;
		font-weight: bold;
	}
#home .btn:hover
	{
		background: #28a7e9;
		border-color: transparent;
	}
.element {
	height: 60px;
	font-size: 37px;
    width: 500px;
    color: #000;
    background-color: #ddd;
}
/* end home */
/****************************الوصف***************************/

#about01 h2{
    font-size: 50px;
    color: #eee;
    opacity: .8;
    margin-top: 80px;
    
}
#about01 p1{
    
    font-size: 60px;
    font-weight: 900;
    margin-top: 20px;

}
#about01 p{
    font-size: 28px;
    width: 1150px;
      font-weight: 530;
    padding-bottom: 50px;
    margin-left: -190px;
    

}

/* start about */
#about .media-heading-wrapper
	{
		padding-bottom: 32px;
	}
#about .media-heading-wrapper .fa
	{
		border: 1px solid #fff;
		border-radius: 2px;
		color: #fff;
		font-size: 24px;
		width: 60px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		margin-bottom: 20px;
		margin-right: 20px;
	}
#about h2{
    font-size: 80px;
}
#about p{
    
    
}
#about .media-heading-wrapper h3
	{
		font-size: 30px;
		font-weight: bold;
		padding-top: 20px;
		padding-left: 55px;
	}
#about .media-body p{
    font-size: 25px;
    
    
}
#about .imgg{
    margin-left: 780px;
    width: 500px;
    height: 550px;
    
    
}
/* end about */

/* start team */

#subject h2{
    font-size: 90px;
    color: #eee;
    background-color: #155d74;
    width: 550px;
    margin-left: 280px;
    margin-bottom: 20px;
    padding: 5px;
    
}

#subject p{
    font-size: 38px;
    color: #121212;
    background: #eee;
    padding: 10px;
    opacity:.8;   
        width: 1150px;
      font-weight: 530;
    padding-bottom: 50px;
    margin-left: -190px;
    

}
/* end team */

/* start service */
#service .col-md-4
	{
		padding: 40px;
		-webkit-transition: all 0.4s ease-in-out;
		        transition: all 0.4s ease-in-out;
	}
#service .col-md-4:hover
	{
		background: #505050;
        padding: 10px;
	}
#service .active
	{
		background: #505050;
		padding: 30px;
	}
#service .fa
	{
		border: 1px solid #fff;
		border-radius: 2px;
		color: #fff;
		font-size: 50px;
        margin-left: 110px;
		width: 100px;
		height: 100px;
		line-height: 100px;
		text-align: center;
	}
#service h2
	{
		font-weight: 600;
        font-size: 90px;
		padding-top: 10px;
		padding-bottom: 14px;
	}
#service ol{
    padding: 5px;
    text-align: center;
    background-color: #eee;
    color: black;
    width: 340px;
    margin-top: 10px;
    font-size: 25px;
}
/* end service */
#service {
	background-image: url(../img/0404.png);
	background-size: cover;
     
	width: 100%;
    height: 800px;
    margin-top: -190px;
	background-repeat: no-repeat;
	padding: 20% 0px;
}

#service .left-image img {
	width: 400px;
    height: 350px;
   
    opacity: .9;
	overflow:hidden;
margin-top: 120px;
	text-align: center;
    margin-bottom: 170px;
}

/* start copyright */
#copyright
	{
		padding: 20px;
	}
#copyright p
	{
        color: black;
        padding: 10px;
        font-size: 30px;
		font-weight: 400;
        background-color: #eee;
        height: 70px;
	}
/* end copyright */


@media only screen and (max-width: 1199px) and (min-width: 992px) {
	#portfolio .portfolio-thumb .portfolio-overlay {
		padding: 0px 8px;
	}
}

/* start 980 media quires */
@media only screen and ( max-width: 980px ) {
	#team .team-wrapper
		{
			margin-top: 40px;
		}
	#portfolio .portfolio-thumb .portfolio-overlay
	{
		background: #28a7e9;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		position: absolute;
		padding: 40px 10px 20px 20px;
		-webkit-transition: all 0.4s ease-in-out;
		        transition: all 0.4s ease-in-out;
	}

}
/* end 360 media quires */

/* start 768 media quires */
@media only screen and ( max-width: 767px ) {
	#home
		{
			min-height: 300px;
			padding-top: 80px;
			padding-bottom: 60px;
		}
	#home h1
		{
			font-size: 52px;
		}

	.templatemo-nav {
		position: fixed;
    	top: 0;
	}
	header {
		margin-top: 70px;
	}
	header .social-icon {
		text-align: left;
	}
	.navbar-toggle {
		margin-top: 15px;
	}
	.navbar-collapse {
		max-height: 300px;
		overflow-y: auto;
	}
	.navbar-default .navbar-nav li a {
		height: 45px;
		padding-top: 5px;
		padding-bottom: 5px;
		line-height: 35px;
	}
}
/* end 768 media quires */

/* start 360 media quires */
@media only screen and ( max-width: 360px ) {
	header .social-icon
		{
			text-align: left;
		}
	#home
		{
			min-height: 200px;
			padding-top: 60px;
			padding-bottom: 40px;
		}
	#home h1
		{
			font-size: 32px;
		}

}
/* end 360 media quires */